--
-- PostgreSQL database dump
--

\restrict Ic4odxeJci2crrXXu57mDtKIGihEg3Cys7cwcMbhiEAU2ceRJcTSuKZ0nFyWOgQ

-- Dumped from database version 17.5
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: doctor; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: patient; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: visit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bill; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bill_item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: current_pregnancy; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lab_test; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: staff; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lab_order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lab_result; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: medicine; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: party; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: medicine_purchase; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: medicine_purchase_detail; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pharmacy_sale; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: purchase_return; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.purchase_return (return_id, purchase_id, reason, return_timestamp, created_by) FROM stdin;
1	1	Damaged packaging	2025-09-07 13:09:32.656789	1
2	2	Expired stock	2025-09-07 13:09:32.656789	2
3	3	Wrong quantity delivered	2025-09-07 13:09:32.656789	3
4	4	Incorrect medicine delivered	2025-09-07 13:09:32.656789	4
5	5	Defective batch	2025-09-07 13:09:32.656789	5
6	6	Supplier error	2025-09-07 13:09:32.656789	1
7	7	Overstocked item	2025-09-07 13:09:32.656789	2
8	8	Packaging issue	2025-09-07 13:09:32.656789	3
\.


--
-- Data for Name: sale_return; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: medicine_transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: menstrual_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.menstrual_history (menstrual_history_id, patient_id, menarch_age, cycle_length_days, bleeding_days, menstrual_regular, contraception_history, gynecologic_surgeries, medical_conditions, menopause_status, notes) FROM stdin;
12	1	13	28	6	t	None	None	None	f	Regular cycles, no issues
13	1	13	28	6	t	None	None	None	f	Regular cycles, no issues
14	5	13	28	6	t	None	None	None	f	Regular cycles, no issues
\.


--
-- Data for Name: obstetric_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: para_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: patient_vitals; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pharmacy_sale_detail; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: prescription; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prescription (prescription_id, visit_id, doctor_id, created_at) FROM stdin;
1	1	1	2025-09-07 13:04:33.63867
2	2	2	2025-09-07 13:04:33.63867
3	3	3	2025-09-07 13:04:33.63867
4	4	1	2025-09-07 13:04:33.63867
5	5	2	2025-09-07 13:04:33.63867
6	6	5	2025-09-07 13:04:33.63867
7	7	4	2025-09-07 13:04:33.63867
8	8	6	2025-09-07 13:04:33.63867
9	9	7	2025-09-07 13:04:33.63867
10	10	5	2025-09-07 13:04:33.63867
19	36	1	2025-09-24 19:02:01.599964
20	39	1	2025-09-28 07:58:01.296136
23	41	1	2025-10-02 16:15:19.944547
\.


--
-- Data for Name: prescription_medicines; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: purchase_return_detail; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.purchase_return_detail (id, return_id, medicine_id, qty, unit_cost) FROM stdin;
1	1	1	10	12.00
2	1	2	5	20.00
3	2	3	8	35.00
4	2	4	6	18.00
5	3	5	4	45.00
6	3	6	3	30.00
7	4	7	2	220.00
8	5	8	5	60.00
9	6	9	6	15.00
10	7	10	4	40.00
11	8	11	5	18.00
12	8	12	3	55.00
\.


--
-- Data for Name: sale_return_detail; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sale_return_detail (id, return_id, medicine_id, qty, unit_price) FROM stdin;
1	1	3	2	28.00
2	2	17	1	65.00
3	3	11	1	18.00
4	4	20	2	35.00
5	5	5	3	45.00
6	6	15	2	60.00
7	7	1	1	12.00
8	8	2	2	20.00
9	1	4	1	18.00
10	2	18	1	70.00
11	3	12	2	55.00
12	4	19	1	25.00
16	15	12	1	60.00
18	17	12	1	60.00
19	18	12	1	60.00
20	19	17	2	65.00
\.


--
-- Data for Name: visit_status_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: bill_bill_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bill_bill_id_seq', 19, true);


--
-- Name: bill_item_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bill_item_item_id_seq', 35, true);


--
-- Name: current_pregnancy_pregnanacy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.current_pregnancy_pregnanacy_id_seq', 11, true);


--
-- Name: doctor_doctor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.doctor_doctor_id_seq', 10, true);


--
-- Name: lab_order_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lab_order_order_id_seq', 15, true);


--
-- Name: lab_result_result_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lab_result_result_id_seq', 10, true);


--
-- Name: medicine_medicine_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.medicine_medicine_id_seq', 20, true);


--
-- Name: medicine_purchase_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.medicine_purchase_detail_id_seq', 20, true);


--
-- Name: medicine_purchase_purchase_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.medicine_purchase_purchase_id_seq', 10, true);


--
-- Name: medicine_transaction_txn_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.medicine_transaction_txn_id_seq', 32, true);


--
-- Name: menstrual_history_menstrual_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.menstrual_history_menstrual_history_id_seq', 14, true);


--
-- Name: obstetric_history_obstetric_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.obstetric_history_obstetric_history_id_seq', 8, true);


--
-- Name: para_details_para_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.para_details_para_id_seq', 33, true);


--
-- Name: party_party_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.party_party_id_seq', 10, true);


--
-- Name: patient_patient_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.patient_patient_id_seq', 20, true);


--
-- Name: patient_vitals_vital_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.patient_vitals_vital_id_seq', 27, true);


--
-- Name: pharmacy_sale_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pharmacy_sale_detail_id_seq', 33, true);


--
-- Name: pharmacy_sale_sale_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pharmacy_sale_sale_id_seq', 23, true);


--
-- Name: prescription_medicines_prescription_medicine_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prescription_medicines_prescription_medicine_id_seq', 29, true);


--
-- Name: prescription_prescription_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prescription_prescription_id_seq', 23, true);


--
-- Name: purchase_return_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.purchase_return_detail_id_seq', 12, true);


--
-- Name: purchase_return_return_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.purchase_return_return_id_seq', 8, true);


--
-- Name: sale_return_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sale_return_detail_id_seq', 20, true);


--
-- Name: sale_return_return_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sale_return_return_id_seq', 19, true);


--
-- Name: staff_staff_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.staff_staff_id_seq', 10, true);


--
-- Name: visit_status_history_visit_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.visit_status_history_visit_status_id_seq', 27, true);


--
-- Name: visit_visit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.visit_visit_id_seq', 44, true);


--
-- PostgreSQL database dump complete
--

\unrestrict Ic4odxeJci2crrXXu57mDtKIGihEg3Cys7cwcMbhiEAU2ceRJcTSuKZ0nFyWOgQ

